@import '../viewport-navigation';

body {
  font-family: sans-serif;
}

tr {
  margin: 0;
  padding: 0;
}

tr:nth-child(odd) {
  background-color: rgba(127, 127, 127, 0.2);
}

th,
td,
td li {
  border-collapse: collapse;
  padding: .5rem;
}

th {
  border-bottom: solid 2px silver;
  text-align: left;
}

.key {
  background-color: silver;
  border-radius: .5rem;
  border-style: outset;
  color: black;
  padding: .25rem;
}

.bulletless {
  list-style-type: none;
}

td .bulletless {
  margin: 0;
  padding: 0;
}

td .bulletless li {
  padding-left: 0;
  padding-right: 0;
}

code,
kbd:not(.key),
samp {
  color: brown;
  font-size: 1.3em;
}

a:link {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

ul dl {
  margin-left: 1rem;
}

dt {
  font-weight: bold;
}
