// viewport-navigation.scss - A Sass stylesheet which provides a basic
// styling for viewport-navigation. This SCSS file gets transformed to
// CSS by the sass utility.
//
// See https://sass-lang.com/guide for more information about SCSS
// syntax and how Sass works.
//
// Copyright 2019 Daniel J. R. May.
//
// This file is part of viewport-navigation.

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

._vn-menu-bar {
  flex: 2 2 auto;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 75ch;
  min-width: 0;
}

main {
  flex: 3 3 auto;
  margin-left: .5rem;
  margin-right: .5rem;
  max-width: 75ch;
  min-width: 20ch;
}

._vn-menu {
  border-style: solid;
  border-width: 1px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

._vn-menu > h2 {
  margin: 0;
  text-align: right;
}

._vn-menu-button {
  cursor: pointer;
  display: inline-block;
  font-family: monospace;
  font-size: 2rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  width: 2.5rem;
}

._vn-menu-content {
  display: none;
  padding: 1rem;
}

._vn-menu-open {
  ._vn-menu-content {
    display: block;
  }
}

._vn-navigation-menu {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Viewbox which shows position of viewport in page is a transparent
// underlay whose size and position are controlled via JavaScript.
._vn-viewbox {
  border-style: solid;
  border-width: 1px;
  height: 0;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

._vn-controls-menu {
  top: 2.5rem;

  label {
    display: block;
  }
}

._vn-hide {
  display: none;
}


// Slideshow
._vn-slideshow main ._vn-slide._vn-inactive {
  display: none;
}


// Themes

$light-background-color: #fafafa;
$light-color: #000;
$light-a-color: #0645ad;
$light-menu-background-color: rgba(250, 250, 250, .9);
$light-menu-border-color: #c0c0c0;
$light-menu-open-background-color: rgba(240, 240, 240, .9);
$light-viewbox-background-color: #c0c0c0;
$light-viewbox-border-color: #000;

$dark-background-color: #000;
$dark-color: #ddd;
$dark-a-color: #7af;
$dark-menu-background-color: rgba(0, 0, 0, .9);
$dark-menu-border-color: #c0c0c0;
$dark-menu-open-background-color: rgba(40, 40, 40, .9);
$dark-viewbox-background-color: #c0c0c0;
$dark-viewbox-border-color: #fff;

$blank-color: #000;

// Light theme. This is the default if the user expresses no
// preference through the 'prefers-color-scheme' media propery, but it
// can be forced via the ._vn-light class on the html element.
html,
._vn-light {
  background-color: $light-background-color;
  color: $light-color;

  ._vn-menu {
    background-color: $light-menu-background-color;
    border-color: $light-menu-border-color;
  }

  ._vn-menu > h2:hover {
    background-color: $light-menu-open-background-color;
  }

  ._vn-menu-open {
    background-color: $light-menu-open-background-color;
  }

  ._vn-viewbox {
    background-color: $light-viewbox-background-color;
    border-color: $light-viewbox-border-color;
  }

  a {
    color: $light-a-color;
  }
}

// Prefered dark theme
@media (prefers-color-scheme: dark) {
  html {
    background-color: $dark-background-color;
    color: $dark-color;

    ._vn-menu {
      background-color: $dark-menu-background-color;
      border-color: $dark-menu-border-color;
    }

    ._vn-menu > h2:hover {
      background-color: $dark-menu-open-background-color;
    }

    ._vn-menu-open {
      background-color: $dark-menu-open-background-color;
    }

    ._vn-viewbox {
      background-color: $dark-viewbox-background-color;
      border-color: $dark-viewbox-border-color;
    }

    a {
      color: $dark-a-color;
    }
  }
}

// Forced dark theme
._vn-dark {
  background-color: $dark-background-color;
  color: $dark-color;

  ._vn-menu {
    background-color: $dark-menu-background-color;
    border-color: $dark-menu-border-color;
  }

  ._vn-menu > h2:hover {
    background-color: $dark-menu-open-background-color;
  }

  ._vn-menu-open {
    background-color: $dark-menu-open-background-color;
  }

  ._vn-viewbox {
    background-color: $dark-viewbox-background-color;
    border-color: $dark-viewbox-border-color;
  }

  a {
    color: $dark-a-color;
  }
}


// Blank screen display mode
._vn-blank {
  background-color: $blank-color;
  visibility: hidden;
}


// Scale font size according to screen width
@media (max-width: 1080px) and (min-width: 75ch) {
  html {
    font-size: 110%;
  }
}

@media (max-width: 1080px) and (min-width: 80ch) {
  html {
    font-size: 120%;
  }
}

@media (max-width: 1080px) and (min-width: 85ch) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 1080px) and (min-width: 90ch) {
  html {
    font-size: 140%;
  }
}

@media (max-width: 1080px) and (min-width: 95ch) {
  html {
    font-size: 150%;
  }
}

@media (max-width: 1080px) and (min-width: 100ch) {
  html {
    font-size: 160%;
  }
}

@media (max-width: 1080px) and (min-width: 105ch) {
  html {
    font-size: 170%;
  }
}

@media (min-width: 1081px) {
  html {
    font-size: 100%;
  }

  html:not(._vn-slideshow) {
    ._vn-menu-bar {
      flex: 2 2 30%;
    }

    main {
      flex: 3 3 70%;
    }

    ._vn-navigation-menu {
      border-style: none;
      position: static;

      ._vn-menu-button {
        display: none;
      }

      ._vn-menu-content {
        display: flex;
        position: fixed;
        top: 3rem;
      }
    }

    ._vn-controls-menu {
      top: 0;
    }
  }
}

@media (min-width: 120ch) {
  html {
    font-size: 120%;
  }
}

@media (min-width: 140ch) {
  html {
    font-size: 140%;
  }
}

@media (min-width: 160ch) {
  html {
    font-size: 160%;
  }
}

@media (min-width: 180ch) {
  html {
    font-size: 180%;
  }
}

@media (min-width: 200ch) {
  html {
    font-size: 200%;
  }
}

@media (min-width: 220ch) {
  html {
    font-size: 220%;
  }
}

@media (min-width: 240ch) {
  html {
    font-size: 240%;
  }
}

@media (min-width: 260ch) {
  html {
    font-size: 260%;
  }
}

@media (min-width: 280ch) {
  html {
    font-size: 280%;
  }
}

@media (min-width: 300ch) {
  html {
    font-size: 300%;
  }
}
